{% extends 'base.html' %}
{% block content %}

    {% load static %}
      <!-- Showcase -->
    <section id="showcase">
        <div class="container text-center">
                <div class="overlay p-5">
                    <h1 class="display-4 mb-4">
                        "I can teach knitting and I have free 1 hour!"
                    </h1>
                    <p class="lead">We all have something to give back to the community. Some of those does not worth the trouble for money transaction.</p>
                    <p class="lead"> This site is a hub for that! </p>
                </div>
        </div>
    </section>

    <section id="about" class="py-4">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h2>"Yes, I want to cook perde pilavi for my guests! Thank you."</h2>
                    <p class="lead">Request a servitium from a kind stranger. Pay with credits you earned by providing servitiums.</p>
                    <p class="mt-4">Asking for a favor is a scientificly proven method of gaining trust. Ask for other's servitiums. Give back some servitiums. Build trust in your community.</p>
                </div>
                <div class="col-md-6">
                    <img src=" {% static 'cooking.jpeg' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="py-4">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <img src=" {% static 'cat-event.jpeg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <h2>"Cat lovers, unite!"</h2>
                    <p class="lead">Host an Eventum with people you may find interesting. No need for credit.</p>
                    <p class="mt-4">People who gathers people are always respected and always needed in every community. </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="py-5 bg-secondary text-white fixed-bottom">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="fas fa-comment fa-4x mr-4"></i>
                    <hr>
                    <h3>Offer a Servitium</h3>
                    <p>Enter the details of your servitium. Pick a location. Someone requested it? Great, give your contact info after handshake!</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-home fa-4x mr-4"></i>
                    <hr>
                    <h3>Host an Eventum</h3>
                    <p>Have a meaningful event with other people like you. Gather around a topic. Get to kknow eachother. Build network. Enjoy life. </p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-suitcase fa-4x mr-4"></i>
                    <hr>
                    <h3>No Money Involved</h3>
                    <p> This site operates on time credit. Want to get a servitium? Pay with your time. Want to earn time? Give servitiums!</p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}