{% extends 'base.html' %}
{% block content %}
    {% load static %}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        {% if user.photo %}
            <div class="text-center">
              <img src="{{ user.photo.url }}" class="rounded" alt="...">
            </div>
        {% endif %}
        <h2>{{ user.username }}</h2>
        <p>{{ user.bio }}</p>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="servitiums-tab" data-toggle="tab" href="#servitiums" role="tab" aria-controls="servitiums" aria-selected="true">Servitiums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#eventums" role="tab" aria-controls="eventums" aria-selected="false">Eventums</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="servitiums" role="tabpanel" aria-labelledby="home-tab">
                {% if servitiums %}
                    {% for servitium in servitiums %}
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <a href="{% url 'servitium_detail' servitium.id %}">
                                            {{ servitium.title }}
                                        </a>
                                    </td>
                                    <td>{{ servitium.description }}</td>
                                    <td>{{ servitium.credit }}</td>
                                    <td>{{ servitium.status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="eventums" role="tabpanel" aria-labelledby="eventums-tab">
                Eventums
            </div>
        </div>
    </div>
</div>

{% endblock %}