{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servitiums</title>
</head>
<body>
{% block content %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                {% if all_servitiums %}
                    <h1> {{ all_servitiums.count }} Servitium{{ all_servitiums.count|pluralize }}</h1>
                {% else %}
                    <h1> Servitiums </h1>
                {% endif %}
            </h1>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% if all_servitiums %}
                    {% for servitium in all_servitiums %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                {% if servitium.image %}
                                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ servitium.image.url }}" data-holder-rendered="true">
                                {% endif %}
                                <div class="card-body">
                                    <p>{{ servitium.description|truncatewords:20 }}</p>
                                    <p>Given by: {{ servitium.owner }}</p>
                                    <p>Published at: {{ servitium.publish_date|date:'D, d M Y' }}</p>
                                    <p>Location: {{ servitium.location }}</p>
                                    <p>Credit: {{ servitium.credit }} h</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Request Servitium!</button>
                                        </div>
                                        <small class="text-muted">{{ servitium.status }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>
