{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Servitium</title>
</head>

<body>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h1>{{ servitium.title }}</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% elif inquiry.status == 'Handshaken' %}
                <h3>Handshaken!</h3>
                {% if user == inquiry.receiver  %}
                    <div class="alert alert-success" role="alert">
                            <p>You can reach to the servitium owner now with below information:</p>
                            <p>{{ servitium.owner }}</p>
                            <p>{{ servitium.owner.email }}</p>
                    </div>
                {% endif %}
            {% endif %}

            <img src="{{ servitium.image.url }}" class="img-fluid" alt="Responsive image">
            <p>{{ servitium.description }}</p>
{#            <p>{{ servitium.id }}</p>#}
            <p>Given by: {{ servitium.owner }}</p>
            <p>Published at: {{ servitium.publish_date|date:'D, d M Y' }}</p>
            <p>Location: {{ servitium.location }}</p>
            <p>Credit: {{ servitium.credit }} h</p>
            <p>Status: {{ servitium.status }}</p>

            {% if message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}

            {% if user != servitium.owner %}
                {% if servitium.status == 'Available' %}
                    <form method="POST" action="{% url 'request_servitium' servitium.id %}">
                        {% csrf_token %}
                        <button id="request_servitium" class="btn btn-primary">Request Servitium!</button>
                    </form>
                {% elif servitium.status == 'Pending' %}
                    {% if user == inquiry.receiver %}
                        <button type="button" class="btn btn-info" disabled>Requested</button>
                    {% else %}
                        <button type="button" class="btn btn-info" disabled>Pending another user</button>
                    {% endif %}
                {% elif servitium.status == 'Handshaken' %}

                {% endif %}
            {% elif user == servitium.owner %}
                {% if servitium.status == 'Pending' %}
                    <h3>{{ inquiry.receiver}} is requesting this servitium from you!</h3>
                    <form method="POST" action="{% url 'accept_request' servitium.id %}">
                        {% csrf_token %}
                        <button id="accept_request" class="btn btn-success">Accept Request!</button>
                    </form>
                    <br>
                    <form method="POST" action="{% url 'reject_request' servitium.id %}">
                        {% csrf_token %}
                        <button id="reject_request" class="btn btn-danger">Reject</button>
                    </form>
                {% endif %}
            {% endif%}
        </div>
    </div>
</body>

{% endblock %}