{% load static %}
<!-- Navbar -->

<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container">
        <div class="float-left">
            <ul class="navbar-nav mr-auto">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{% static 'thiork_logo.png' %}" alt="Thiork" width="96" height="32">
                </a>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link px-2 text-white" href="{% url 'servitiums' %}">Servitiums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2 text-white" href="{% url 'create_servitium' %}">Create Servitium</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link px-2 text-white" href="{% url 'eventums' %}">Eventums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2 text-white" href="{% url 'create_eventum' %}">Host Eventum</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="float-right">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link px-2 text-white" href="/"><i class="bi bi-hourglass"> {{ user.credit }} </i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2 text-white" href="{% url 'profilepage' %}">Hello, {{ user.get_username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" onclick="$('#signOutBtn').click()" class="nav-link px-2 text-white"><i class="bi bi-door-closed"></i></a>
                        <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                            {% csrf_token %}
                            <button id="signOutBtn" type="submit">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link px-2 text-white" href="{% url 'signupuser' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2 text-white" href="{% url 'loginuser' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>